[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
jupyter = "jupyter notebook"

[packages]
cython = '*'
dlib = '*'
ffmpeg = "*"
flake8 = "*"
imageio = "*"
jupyter = "*"
mypy = "*"
numpy = "*"
scikit-image = "*"
opencv-python = "*"
pytest = "*"
tqdm = "*"
#"ssd-tensorflow" = {path = "git+https://github.com/balancap/SSD-Tensorflow.git"}

[dev-packages]

[requires]
python_version = "3.6.5"
